.table1 {
     width:100% ;
     border-spacing: 20px 10px;
    }

.block-1{
        background-color: rgb(107, 204, 10);
        height: 40vh;
        vertical-align: top;
    }
.block-2{
        background-color: orange;
        height: 10vh;
        width: 48%;
        vertical-align: top;
        }

.block-3{
        background-color: rgb(68, 0, 255);
        height: 20vh;
        width: 32%;
        vertical-align: top;
        }
            
.block-4{
        background-color: rgb(202, 203, 206);
        height: 15vh;
        width: 24%;
        vertical-align: top;
        }